/* MyComponent.module.css */
.container {
    position: relative;
  }
  
  .secondSection {
    height: 100vh; /* Adjust height as needed */
    position: relative;
  }
  
  .thirdSection {
    height: 100vh; /* Adjust height as needed */
    display: none; /* Initially hide the third section */
  }
  
  .scrollImage {
    position: absolute;
    bottom: 0;
    transition: transform 0.5s ease; /* Transition for smooth animation */
  }
  