* {
    scroll-behavior:smooth(1000);
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: brown; */
}
.company-name{
    color: lightgoldenrodyellow;
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 6rem;
    font-weight: bold;
    font-family: serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.front-full-inner-quote{
    position: relative;
    z-index: 2;
    margin-top: 5rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    padding:0 15rem;
    color:#FFFFFF;
    width: 100%;
    /* height: 100vh; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.front-full-inner-slider{
    position: relative;
    z-index: 2;
    padding-top: 5rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    /* padding:0 15rem; */
    color:#FFFFFF;
    width: 100%;
    /* height: 100vh; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -2;
}

.nav-items a {
    text-decoration: none;
    /* color: black;
    
    font-size: large; */
    /* color: #d4af37; */
    color: #FFFFFF;
    /* font-weight: bold; */
}
.nav-items a:hover{
    text-decoration: none;
    /* color: black;
    font-size: large; */
    /* color: #d4af37; */
    /* color: #FFFFFF; */
    font-weight: bold;
}
.navbar {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease;
  z-index: 2;
}
.navbar:hover {
    background-color: #e6e9ea;
}

.brand {
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    color: #333;
}

.nav-link {
    font-family: 'Arial', sans-serif;
    color: lightgoldenrodyellow!important;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    color: #007bff;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.custom-slider {
    animation-name: slide;
    animation-duration: 10s;
    /* Adjust duration as needed */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.mySwiper {
    width: calc(100% - 20px);
    margin: 10px auto;
}

.opposite-color {
    color: black; /* Set your desired text color */
    /* font-weight: bold; */
    font-size: x-large;
    font-family:'Courier New';
  }
.front-full {
    position: relative;
    height: 200vh;
    width: 100%;
    background-color: #1f1f21;
    background-color: var(--global-font-color)
}
.front-full-quote {
    position: relative;
    height: 300vh;
    width: 100%;
    background-color: #1f1f21;
    background-color: var(--global-font-color)
}
.front-full-slider {
    position: relative;
    height: 300vh;
    width: 100%;
    background-color: #1f1f21;
    background-color: var(--global-font-color)
}
.front-full-slider img{
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0
}
.front-full-video {
    position: relative;
    height: 170vh;
    width: 100%;
    background-color: #1f1f21;
    background-color: var(--global-font-color)
}
.navbar.scroll-down{
    top: -100px;
    opacity: 0;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out
}
.front-full img{
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0
}
.front-full-quote img{
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0
}
.front-full-video video{
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0
}
.front-shade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(12,12,13,.3); */
    /* z-index: 1 */
}
.front-shade-needed{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(12,12,13,.3);
    /* z-index: 1 */
}
.font-full-inner-content.front-story {
    max-width: 100vw;
}
a .front-excerpt,a .front-excerpt:active,a .front-excerpt:focus,a .front-excerpt:visited {
    color: #ebebeb;
    color: var(--global-font-light)
}

.front-full-story h3 {
    font-family: aktiv-grotesk-extended,Helvetica Neue,Arial Narrow,sans-serif;
    font-family: var(--highlight-font-family);
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1em;
    margin: 0 0 20px;
    color: #ebebeb;
    color: var(--global-font-light)
}
@media screen and (min-width: 48em) {
    .nav-font{
        font-size: x-large;
    }
    .f-banner-image-1{
        width: 100px;
        height: 100px;
    }
    .f-banner-image-2{
        width: 50px;
        height: 45px;
    }
    .f-banner-image-3{
        width: 40px;
        height: 40px;
    }
    .f-banner-image-4{
        width: 50px;
        height: 40px;
    }
    .front-full-inner-quote{
        padding:0 15rem;
    }
    .front-full-story h3 {
        font-size:2em
    }
    .banner-logo-image-1{
        width: 110;
        height: 110;
    }
    .banner-logo-image-2{
        width: 130;
        height: 100;
    }
    .banner-logo-image-3{
        width: 100;
        height: 100;
    }
}
.front-full-story p {
    font-size: x-large;
}
@media (max-width: 1366px) {
    .company-name{
        font-size: 4rem;
    }
    .nav-font{
        font-size: x-large;
    }
    .f-banner-image-1{
        width: 100px;
        height: 100px;
    }
    .f-banner-image-2{
        width: 50px;
        height: 45px;
    }
    .f-banner-image-3{
        width: 40px;
        height: 40px;
    }
    .f-banner-image-4{
        width: 50px;
        height: 40px;
    }
    .card{
        height: 400px;
        width: 25rem;
        min-width: 400px;
    }
    .front-full-inner-quote{
        padding:0 15rem;
    }
    .front-full-story p {
        font-size: larger;
    }
    .banner-logo-image-1{
        width: 110px;
        height: 110px;
    }
    .banner-logo-image-2{
        width: 130px;
        height: 100px;
    }
    .banner-logo-image-3{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 1200px) {
    .company-name{
        font-size: 4rem;
    }
    .nav-font{
        font-size: x-large;
    }
    .f-banner-image-1{
        width: 100px;
        height: 100px;
    }
    .f-banner-image-2{
        width: 50px;
        height: 45px;
    }
    .f-banner-image-3{
        width: 40px;
        height: 40px;
    }
    .f-banner-image-4{
        width: 50px;
        height: 40px;
    }
    .card{
        height: 400px;
        width: 25rem;
        min-width: 400px;
    }
    .front-full-inner-quote{
        padding:0 2rem;
    }
    .front-full-story p {
        font-size: 13px;
    }
    .banner-logo-image-1{
        width: 110px;
        height: 110px;
    }
    .banner-logo-image-2{
        width: 130px;
        height: 100px;
    }
    .banner-logo-image-3{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 768px) {
    .nav-font{
        font-size: x-large;
    }
    .f-banner-image-1{
        width: 100px;
        height: 100px;
    }
    .f-banner-image-2{
        width: 50px;
        height: 45px;
    }
    .f-banner-image-3{
        width: 40px;
        height: 40px;
    }
    .f-banner-image-4{
        width: 50px;
        height: 40px;
    }
    .card{
        height: 400px;
        width: 25rem;
        min-width: 400px;
    }
    .front-full-inner-quote{
        padding:0 5rem;
    }
    .front-full-story p {
        font-size: 12px;
    }
    .banner-logo-image-1{
        width: 110px;
        height: 110px;
    }
    .banner-logo-image-2{
        width: 130px;
        height: 100px;
    }
    .banner-logo-image-3{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .nav-font{
        font-size: large;
    }
    .f-banner-image-1{
        width: 70px;
        height: 90px;
    }
    .f-banner-image-2{
        width: 55px;
        height: 45px;
    }
    .f-banner-image-3{
        width: 40px;
        height: 45px;
    }
    .f-banner-image-4{
        width: 50px;
        height: 45px;
    }
    .front-full-slider {
        height: 250vh;
    }
    .card{
        height: 200px;
        width: 200px;
        min-width: 100px;
    }
    .front-full-inner-quote{
        padding:0 2rem;
    }
    .front-full {
        height: 250vh;
    }
    .front-full-story p {
        font-size: 20px;
    }
    .banner-logo-image-1{
        width: 60px;
        height: 60px;
    }
    .banner-logo-image-2{
        width: 60px;
        height: 60px;
    }
    .banner-logo-image-3{
        width: 60px;
        height: 60px;
    }
    .company-name{
        font-size: 3rem;
        text-align: center;
    }
}
a.front-full-link,a.front-full-link:active,a.front-full-link:focus,a.front-full-link:visited {
    font-size: 1.2em;
    text-decoration: none
}
@media screen and (min-width: 48em) {
    a.front-full-link,a.front-full-link:active,a.front-full-link:focus,a.front-full-link:visited {
        font-size:1.5em
    }
    .banner-logo-image-1{
        width: 110px;
        height: 110px;
    }
    .banner-logo-image-2{
        width: 130px;
        height: 100px;
    }
    .banner-logo-image-3{
        width: 100px;
        height: 100px;
    }
}
.front-full-inner {
    position: relative;
    margin: 0 auto;
    padding: 0 12vw;
    z-index: 2
}
.front-full-inner {
    margin-top: 5rem;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:#FFFFFF;
    width: 100%;
    /* height: 100vh; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.front-full-inner-video {
    margin-top: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:#FFFFFF;
    width: 100%;
    /* height: 100vh; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /* justify-content: center; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center */
}


.video-container {
    width: 100%;
    height: 100vh; /* or specify a fixed height if needed */
    overflow: hidden;
    position: relative; /* Add this to enable positioning of the video */
  }
  
  .video-container video {
    width: 100%;
  height: 100%; /* Ensure the video fills the entire container */
  object-fit: cover;
  }
  ::-webkit-scrollbar {
    display: none;
}
.dropdown-toggle {
    white-space: nowrap;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-left: 0!important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #000000!important;
    background-color: #C6C7C8!important;
}
.dropdown-menu.show {
    display: block;
    max-height: 200px!important;
    overflow-y: auto!important;
    -ms-overflow-style: auto!important;  /* IE 10+ */
  scrollbar-width: auto!important; 
}
.dropdown-menu::-webkit-scrollbar {
    width: 12px!important; /* Adjust scrollbar width as needed */
  }
  
  .dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1!important; /* Color of the scrollbar track */
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb {
    background: #888!important; /* Color of the scrollbar thumb */
  }
  
  .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #555!important; /* Color of the scrollbar thumb on hover */
  }
  .unit-1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block; }
    .unit-1:after {
      content: "";
      z-index: 1;
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
      background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }
    .unit-1 img {
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .unit-1 img, .unit-1 .unit-1-text {
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
    .unit-1 .unit-1-text {
      z-index: 2;
      position: absolute;
      bottom: -90px;
      color: #fff;
      display: block;
      width: 100%; }
      .unit-1 .unit-1-text .unit-1-heading {
        font-size: 1.5rem;
        position: relative; }
    .unit-1 p {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      color: rgba(255, 255, 255, 0.5); }
    .unit-1:hover p {
      opacity: 1;
      visibility: visible; }
    .unit-1:hover .unit-1-text {
      bottom: 30px; }
    .unit-1:hover img {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }